<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>웹페이지 구축 환영</h1>    
    <P>3. 관리자 페이지 접속해보기</P>
    <p>다시 서버를 켭니다: python manage.py runserver</p>
    <p>브라우저 주소창에 다음과 같이 입력합니다: http://127.0.0.1:8000/admin</p>
    <p>비밀번호변경방법 python manage.py changepassword rladudwns29</p>
    <p>pw k-1800-92-입니다</P>
    <!-- http://127.0.0.1:5500/index.html -->
</body>
</html>
